
/* 
.card-container {
    display: flex;
    justify-content: center;
}


.card {
    border-style: solid;
    margin: 100px 20px;
    border-radius: 20px;
    border-image: "https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80";
}
 */